<section id="footer">
    <div class="main-footer">
        <div class="logoinfo" data-aos="fade-up">
            <div class="contact-details">
                <h1>Contact Us</h1>
                <li>
                    <i class="fa fa-phone"></i><a href="tel:+918007021339">+91 8007021339</a>

                </li>
                <li>
                    <div class="fa fa-envelope"></div><a href="mailto:shoppingwala@gmail.com">shoppingwala@gmail.com</a>
                </li>
                
            </div>
        </div>
        <div class="com " data-aos="fade-up">
            <h1>About</h1>
            <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/shopping/mens']">Product</a></li>
                <li><a [routerLink]="['/shopping/aboutUs']">About Us</a></li>
                <!-- <li><a [routerLink]="['/shopping/contactus']">Contact</a></li> -->
            </ul>
        </div>
        <div class="info" data-aos="fade-up">
            <h1>Social Media</h1>
            <div class="sociallogos">
                <div class="logobox">
                    <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook" ></a>
                    <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube-play"></a>
                </div>
            </div>
        </div>
    </div>
    <footer>© shoppingwala Copyright 2023 All Rights Reserved</footer>
</section>